.topNavBar {
    display: flex;

    justify-content: space-between;
    font-size: 20px;

    align-items: center !important;
    backdrop-filter: saturate(200%) blur(6px);
    color: #697a8d;
    background-color: rgba(255, 255, 255, .95);
    height: 3.875rem;
    padding: 0 1.5rem;
    margin: .75rem auto 0;
    border-radius: .375rem;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, .15);
}